<div id='scrypto-key-fields'>
	<input type='hidden' id='secured_decryption' name='key_ring[secured_decryption]' />
	<input type='hidden' id='encryption' name='key_ring[encryption]' />
	<input type='hidden' id='secured_signing' name='key_ring[secured_signing]' />
	<input type='hidden' id='verification' name='key_ring[verification]' />
</div>
