<!DOCTYPE html>
<html>
<head>
  <title>Scrypto</title>
  <%= stylesheet_link_tag    "scrypto/application", :media => "all" %>
  <%= javascript_include_tag "scrypto/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
